<library path="lib/libfranka_interface">
    <class  name="franka_interface/VelocityInterface"
            type="franka_interface::VelocityInterface"
            base_class_type="controller_interface::ControllerBase">
    <description>
        A controller that executes a short motion based on joint velocities
        to demonstrate correct usage
    </description>
    </class>
    <class  name="franka_interface/CartesianPoseInterface"
            type="franka_interface::CartesianPoseInterface"
            base_class_type="controller_interface::ControllerBase">
    <description>
        Cartesion pose interface
    </description>
    </class>
    <class  name="franka_interface/CartesianVelInterface"
            type="franka_interface::CartesianVelInterface"
            base_class_type="controller_interface::ControllerBase">
    <description>
        Cartesion velocity interface
    </description>
    </class>
</library>
